[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
[submodule "imgui/imgui"]
	path = imgui/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "flecs"]
	path = flecs
	url = https://github.com/SanderMertens/flecs.git
